:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center; /* Remove this if you want it at the top */
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424; /* Keep the dark gray or change to white */
}