.wallpaper {
  max-width: 90vw;
}

.game {
  display: flex;
  justify-content: flex-end;
}

.characters img {
  max-width: 6rem;
  max-height: 6rem;
}

.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}