* {
  margin: 0;
  padding: 0;
}

.wallpaper {
  max-width: 90vw;
  height: auto;
}

.game {
  display: flex;
  justify-content: space-between;
}

.characters img {
  max-height: 6rem;
  width: 4rem;
}

.characters > * {
  margin: 0.2rem;
}

.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 4px solid #5fb1a9;
  border-bottom: 4px solid #5fb1a9;
  padding: 10px 0px;
}

.found {
  opacity: 50%;
}

.green-border {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px green;
}

.Zoom {
  animation: Zoom 0.5s ease-out 0s;
}

@keyframes Zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 2rem;
  margin-left: 45px;
}

.stopwatch {
  margin-bottom: 25px;
  font-size: 1.5rem;
  padding: 10px 15px;
  border-bottom: 4px solid rgb(182, 172, 36);
  background-color: rgb(255, 250, 186);
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 10%;
  align-items: center;
  height: 60px;
  background-color: #2f4858;
  color: #81e4da;
}

.nav-link {
  color: #81e4da;
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.4s;
}

.nav-link:after {
  display: block;
  content: '';
  border-bottom: solid 3px rgb(246, 231, 23);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.home-heading {
  color: #2f4858;
  padding-bottom: 2px;
  border-bottom: 3px solid rgb(246, 231, 23);
}

.beach-link {
  margin-top: 1.5rem;
  max-width: 30rem;
  border-radius: 15px;
  box-shadow: 0px 5px 15px 0px #2f4858;
  transition: 0.25s;
}

.beach-link:hover {
  box-shadow: 0px 15px 25px 0px #81e4da;
  transform: scale(1.02);
}
