.wallpaper {
  width: 90vw;
}

.game {
  display: flex;
  justify-content: flex-end;
}

.characters img {
  max-height: 6rem;
  width: 4rem;
  overflow: hidden;
}

.characters > * {
  margin: 0.2rem;
  margin-right: 15px;
}

.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.found {
  opacity: 50%;
}

.green-border {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px green;
}

.Zoom {
  animation: Zoom 0.5s ease-out 0s;
}

@keyframes Zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}